*{
	font-size: 20px;
	font-family: georgia;
	color: #fff;
}

body{
	background: black;
}

.flex-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background: #233;
	margin: 100px 40px;
	border: 6px solid #9d8 ;
	border-radius: 15px;
	min-width: 360px;
}

#diferente:hover{
	background: #4ca;
}

.form{
	min-width: 400px;
	flex: 2;
	text-align: right;
	padding: 30px;
	order: 5;
}

.form__input{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom: 3px solid #9d8;
	background: transparent;
	color: #233;
}

.form__input:focus{
	background: linear-gradient(to left, transparent, #122);
	outline: none;
	border: 2px solid #4ca;
}

.form textarea{
	min-height: 140px;
	resize: none;
}

.form-img{
	flex: 1;
	display: flex;
	padding: 10px;
	min-width: 200px;
	max-width: 500px;
	order: 2;
}

.form-img div{
	padding: 10px;
}

.img-container{
	margin: auto;
}

.img-container div{
	background: #fff;
	border-radius: 50%;	
	text-align: center;
	padding: 40px;
	background: #9d8;
}

.form-img img{
	width: 80%;
	margin: auto;
}

.form input[type="button"]{
	background-color: #9d8;
	border-bottom: none;
	padding: 12px;
}

.form input[type="button"]:hover{
	background-color: #4ca;
	border-bottom: none;
	padding: 12px;
	cursor: pointer;
}

.form__input{
	color: #fff;
}

.form__enviar{
	background-color: #9d8;
}


.form__enviar:hover{
	background-color: #4ca;
}